body {
    overflow-x: hidden;
}

.bz-todo__section {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding-top: 100px;
    z-index: 9999999999; /* that high number of z-index to be 100% sure that will be visible*/
    background-color: #fefff8;
}
.bz-todo {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.bz-todo__title {
    text-align: center;
}

.bz-todo__new {
    display: flex;
    align-items: center;
}

.bz-todo__enter {
    float: left;
}

.bz-todo__checkbox {
    float: left;
    margin-right: 20px;
    cursor: pointer;
}

.bz-todo__input {
    border: none;
    background-color: unset;
    padding: 5px 10px;
}

.bz-todo__task {
    display: flex;
    align-items: center;
}

.bz-todo__remove {
    cursor: pointer;
}






.bz-todo__task {
    margin: 10px 0;
}
.bz-todo__task--name {
    padding: 5px 5px;
    border: 1px solid #000;
    border-radius: 5px;
}
.bz-todo__task--checked {
    text-decoration: line-through;
    color: #858585;
}